################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/‏‏CPOR/obj/x86/Debug
/‏‏CPOR/bin/Debug
